body {
    font-family: 'Montserrat', sans-serif;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-130%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(300%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromBottomActive {
    0% {
        padding-bottom: 300px;
    }
    100% {
        padding-bottom: 0;
    }
}

@keyframes slideInFromTop {
    0% {
        opacity: 0;
        margin-bottom: -100%;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.nav-wrapper {
    position: relative;
}

.nav-wrapper .navbar {
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.button-container {
    display: flex;
    align-items: center;
}

.logout-button {
    background-color: #D77784;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 20px;
}

.profile-button {
    width: 60px;
    height: 60px;
    background-color: #D77784;
    color: white;
    border: none;
    margin-right: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.container-form {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.logo-container {
    margin-bottom: 10px;
}

.logo {
    max-width: 100%;
    height: auto;
}

.form-container {
    width: 100%;
}

.form-container form {
    width: 100%;
    text-align: left;
}

.form-container label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.button-container-submit {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 10px;
}

.button-container-cancel {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 10px;
}

.btn-cancel {
    background-color: #7F9ACF;
    color: white;
    border: none;
    padding: 7px 14px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit {
    background-color: #D77784;
    color: white;
    border: none;
    padding: 7px 14px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-cancel:hover {
    background-color: white;
    color: #7F9ACF;
    border: 1px solid #7F9ACF;
}

.btn-submit:hover {
    background-color: white;
    color: #D77784;
    border: 1px solid #D77784;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
}

.form-container input,
.form-container textarea,
.form-container select {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}