$deep-pink : #F77789;
$pink : #FFBEC8;
$brown : #644C49;
$white : #FFF7E8;

.banner-text-shop {
    color: rgb(255, 255, 255);
}

.product-card {
    background-color: #fbfdff;
    border: 2px solid #FFC5CA;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

body {
    background-color: $white;
    color: $deep-pink;
}

#mainNav,
.bg-nav-custom {
    background-color: $white !important;
}

.link-custom {}

footer {}

.commision-paragraph {
    font-size: 22px;
    font-weight: bold;
    color: rgb(221, 50, 66);
}

.hr-commision {
    border-top: 5px dotted #fb0000;
    width: 70%;
    margin: auto;
}

#mainNav {
    background-color: #fdf7eb !important;
}

.bg-primary-gradient {
    background-color: #fdf7eb !important;
}

.custom-link {
    color: #5d4e4c;
    font-weight: bold;
}

.img-cart {
    width: 150px;
    margin-top: 10px;
    border-radius: 20px;
    height: 150px;
    object-fit: cover;
}

.img-product {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 15px;
}

.quantity-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    margin: 0 auto;
    background: #eaeaea;
    border-radius: 10px;
    padding: 07 rem 0.4rem;
}

.quantity-btn {
    background: transparent;
    border: none;
    outline: none;
    margin: 0;
    padding: 0px 8px;
    cursor: pointer;
}

.quantity-btn svg {
    width: 15px;
    height: 15px;
}

.quantity-input {
    outline: none;
    user-select: none;
    text-align: center;
    width: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
}

.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*Carousel Gallery*/
.carousel-gallery {
    margin: 50px 0;
    padding: 0 30px;
}

.carousel-gallery .swiper-slide a {
    display: block;
    width: 100%;
    height: 200px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    box-shadow: 3px 2px 20px 0px rgba(0, 0, 0, 0.2);
}

.carousel-gallery .swiper-slide a:hover .image .overlay {
    opacity: 1;
}

.carousel-gallery .swiper-slide a .image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.carousel-gallery .swiper-slide a .image .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.8);
    text-align: center;
    opacity: 0;
    transition: all 0.2s linear;
}

.carousel-gallery .swiper-slide a .image .overlay em {
    color: #fff;
    font-size: 26px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
}

.carousel-gallery .swiper-pagination {
    position: relative;
    bottom: auto;
    text-align: center;
    margin-top: 25px;
}

.carousel-gallery .swiper-pagination .swiper-pagination-bullet {
    transition: all 0.2s linear;
}

.carousel-gallery .swiper-pagination .swiper-pagination-bullet:hover {
    opacity: 0.7;
}

.carousel-gallery .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #d63031;
    transform: scale(1.1, 1.1);
}

/*# Carousel Gallery*/
.plugins {
    text-align: center;
}

.plugins h3 {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: Arial;
    text-transform: uppercase;
    color: #111;
}

.plugins a {
    display: inline-block;
    font-family: Arial;
    color: #777;
    font-size: 14px;
    margin: 10px;
    transition: all 0.2s linear;
}

.plugins a:hover {
    color: #d63031;
}

.logo-nav {
    width: 60%;
}

.nav-wrapper {
    width: 100%;
    padding-top: 2px;
}

nav {
    position: relative;
}

.nav-wrapper-1 {
    background-color: $white;

    ul {
        margin-left: -20%;
        list-style-type: none;
        float: left;
        left: 50%;
        position: relative;

        li {
            margin: 0 30px;
            float: left;
            left: -50%;
            position: relative;

            a {
                color: $deep-pink !important;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
}

/* HOVER EFFECT 1 */

.effect-1 a:before,
.effect-1 a:after,
.effect-1 li:before {
    content: "";
    position: absolute;
    background-color: $pink;
    opacity: 1;
    transition: all .4s;
}

.effect-1 li:before {
    width: 0;
    height: 2px;
    right: calc(50% - 25px);
    transition-delay: .6s;
    top: -8px;
}

.effect-1 a:before {
    width: 2px;
    height: 0;
    transform: skew(30deg, 0);
    transform-origin: 0 0;
    left: calc(50% - 25px);
    transition-delay: .3s;
    top: -8px;
}

.effect-1 a:after {
    width: 2px;
    height: 0;
    transform: skew(-30deg, 0);
    transform-origin: 0 100%;
    right: calc(50%);
    transition-delay: 0s;
    bottom: -16px;
}

.effect-1 li:hover:before {
    width: 50px;
    opacity: 0.5;
    transition-delay: 0s;
}

.effect-1 a:hover:before,
.effect-1 a:hover:after {
    height: 43px;
    opacity: 0.5;
}

.effect-1 a:hover:before {
    transition-delay: .3s;
}

.effect-1 a:hover:after {
    transition-delay: .6s;
}

.bs-icon.bs-icon-primary {
    color: var(--bs-white);
    background: $deep-pink !important;
}

.btn-primary {
    background-color: $deep-pink !important;
    border-color: $pink !important;

}

img.prdouct-image {
    width: 100%;
    border-radius: 5px;
    margin: auto;
}

.image--cover {
    width: 150px;
    height: 150px;
    border-radius: 50%;

    object-fit: cover;
    object-position: center right;
}